{% extends 'base.html' %} 

{% block content %}
<h2>Accounts</h2>
<main>
  <table>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>Number of Receipts</th>
    </tr>
    {% for acct in account_list %}
    <tr>
      <td>{{ account.name }}</td>
      <td>{{ account.number }}</td>
      <td>{{ receipts.count }}</td>
    </tr>
    {% endfor %}
  </table>
</main>
{% endblock content %}
