{% extends 'base.html' %} 

{% block content %}
<h2>Expenses Categories</h2>
<main>
    <table>
        <tr>
            <th>Name</th>
            <th>Number of receipts</th>
        </tr>
        {% for category in expensecategory_list %}
        <tr>
            <th>{{ expensecategory.name }}</th>
            <th>{{ receipts.count }}</th>
        </tr>
        {% endfor %}


</main>
{% endblock content %}
