{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Expenses</title>
  </head>

  <body>
    <header>
      <nav>
        <ul id="navBar">
          <li>
          <a href="{% url 'home' %}">Home</a>
          </li>
          {% if user.is_staff %}
          <li>
            <a href="{% url 'admin' %">Admin</a>
          </li>
          {% endif %}
          {% if user.is_authenticated %}
          <li>
            <a href="{% url 'logout' %}">Logout</a>
          </li>
          <li>
            <a href="{% url 'receipt_create' %}">Add a Receipt</a>
          </li>
          <li>
            <a href="{% url 'account_create' %}">Create New Account</a>
          </li>
          <li>
            <a href="{% url 'accounts_list' %}">Accounts List</a>
          </li>
          <li>
            <a href="{% url 'expense_list' %}">Expenses List</a>
          </li>
          {% else %} 
          <li>
            <a href="{% url 'signup' %}">Sign Up</a>
          </li>
          <li>
            <a href="{% url 'login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </nav>
      {% block pagination %} {% endblock pagination %}
    </header>
    {% block content %} {% endblock content %}
  </body>
</html>
