{% extends 'base.html' %} {% block content %}
<main>
  <table>
    <tr>
      <th>Vendor</th>
      <th>Total</th>
      <th>Tax</th>
      <th>Date</th>
      <th>Category</th>
      <th>Account</th>
    </tr>
    {% for item in receipt_list %}
    <tr>
      <td>{{ receipt.vendor }}</td>
      <td>{{ receipt.total }}</td>
      <td>{{ receipt.tax }}</td>
      <td>{{ receipt.date }}</td>
      <td>{{ receipt.category }}</td>
      {% if receipt.account %}
      <td>{{ receipt.account }}</td>
      {% else %}
      <td>Cash</td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
</main>
{% endblock content %}
