ul {
  list-style: none;
}

#navBar {
  margin 10px;
  width: auto;
  font-family: sans-serif;
}

#navBar li {
  display: block;
  width: 120px;
  float: left;
  margin-left: 2px; 
}

#navBar a {
  display: block;
  padding 3px;
  text-decoration: none;
  color: #577399;
}

#navBar a:hover{
  background-color: lightgray;
  color: #51637D;
}



